# Problem Set 2
This problem set is based on lectures 4,5 and 6. For a complete list of topics please
consult page 2 of the course syllabus. Please consult the “Instructions for Problem
Set Submissions” document under course information before submitting your
assignment.

# Question 1

Consider the following Python module:

a = 0

def b():
 global a
 a = c(a)
 
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.

In [13]:
a = 0

def b():
 global a
 a = c(a)
    
def c(a):
 return a + 2

b()
b()
b()
print(a)

6

Explanation)
AS it run in b() 3 time it add 2 + 2+ 2 three time so it made a =8

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [38]:
def filelength(input_file):
    try:
        input_file = open(input_file)
        file_reader = input_file.read()
        input_file.close()
        print(len(file_reader))
    
    except:
        print('File {} not found.'.format(input_file))

In [39]:
name = 'midterm.py'
filelength(name)

72

In [37]:
name = 'idterm.py'
filelength(name)

File idterm.py not found.

# Question 3

Write a class named Marsupial that can be used as shown below:

>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0)
>>> print(k)
I am a Kangaroo located at coordinates (0,0)
>>> k.put_in_pouch('doll')
>>> k.put_in_pouch('firetruck')
>>> k.put_in_pouch('kitten')
>>> k.pouch_contents()
['doll', 'firetruck', 'kitten']
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> k.jump(1,0)
>>> print(k)
I am a Kangaroo located at coordinates (3,0)

In [31]:
class Marsupial():
    
    def __init__(marsupial_list):
        marsupial_list.myList = []
    
    def put_in_pouch(marsupial_list, item):
        marsupial_list.myList.append(item)
    
    def pouch_contents(marsupial_list):
        print(marsupial_list.myList)

m = Marsupial()
m.put_in_pouch('doll')            
m.put_in_pouch('firetruck')      
m.put_in_pouch('kitten')         
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [33]:
class Kangaroo(Marsupial):
    
    def __init__(marsupial_list, x=0, y=0):
          Marsupial.__init__(marsupial_list)
          marsupial_list.x = x
          marsupial_list.y = y
        
    def jump(marsupial_list, dx=0, dy=0):
        marsupial_list.x += dx
        marsupial_list.y += dy
        
    def __str__(marsupial_list):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(marsupial_list.x, marsupial_list.y)

k = Kangaroo(0,0)         
print(k)

I am a Kangaroo located at coordinates (0,0)

In [7]:
k.put_in_pouch('doll')            
k.put_in_pouch('firetruck')       
k.put_in_pouch('kitten')          
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [34]:
k.jump(1,0)         
k.jump(1,0)        
k.jump(1,0)         
print(k)

I am a Kangaroo located at coordinates (3,0)

# Question 4

Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [29]:
def collatz(x):
    if (x == 1):        
        print(1)
    
    elif (x < 1):        
        print("enter no :")
        
    elif (x % 2 == 0):    
        print(int(x))     
        x = x/2           
        collatz(x)        
        
    else:                 
        print(int(x))     
        x = (3*x) + 1     
        collatz(x)        
            
x = int(input("enter no: "))
collatz(x)

enter no: 1
1

In [30]:
x = int(input("enter no: "))
collatz(x)

enter no: 10
10
5
16
8
4
2
1

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n

Q5.
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [11]:
def binary(n):
   if n > 1:
       binary(n//2)
   print(n % 2, end ='')
binary(0)

0

In [12]:
binary(1)

1

In [13]:
binary(3)

11

In [14]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have
indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [27]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):

    x = 0      
    y = 0     
    
    def handle_starttag(z, header, attributs):
        if header in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            z.x = 1                     
    def handle_data(z, datas):
         if z.x == 1:
            print(datas.rjust(len(datas) + z.y), end ='\n') 
            
    def handle_endtag(z, header):
        if header in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9']:
            z.x = 0                    
            z.y +=1   
        
infile = open("w3c.html")  
content = infile.read() 
infile.close() 
hp = HeadingParser() 
hp.feed(content)

W3C Mission
 Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [28]:
import requests 
from bs4 import BeautifulSoup

def webdir(url, first, second):
    print(url)

# Question 8

Write SQL queries on the below database table that return:

a) All the temperature data.

b) All the cities, but without repetition.

c) All the records for India.

d) All the Fall records.

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

g) The total annual rainfall for Cairo.

h) The total rainfall for each season.

In [13]:
import sqlite3
connection = sqlite3.connect('hardik_dakhara.db')
datalink = connection.cursor()
datalink.execute("CREATE TABLE IF NOT EXISTS info (City text, Country text, Season text, Temperature double, Rainfall double)")
datalink.execute("INSERT INTO info VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai','India', 'Spring', 28.4, 16.2), ('Mumbai','India', 'Summer', 27.9, 1549.4), ('Mumbai','India', 'Fall', 27.6, 346.0)")
datalink.execute("INSERT INTO info VALUES ('London', 'United Kindom', 'Winter', 4.2, 207.7), ('London', 'United Kindom', 'Spring', 8.3, 169.6), ('London', 'United Kindom', 'Summer', 15.7, 157.0), ('London', 'United Kindom', 'Fall', 10.4, 218.5)")
datalink.execute("INSERT INTO info VALUES ('Cairo', 'Egypt', 'Winter', 13.6, 16.5), ('Cairo', 'Egypt', 'Spring', 20.7, 6.5), ('Cairo', 'Egypt', 'Summer', 27.7, 0.1), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)")

datalink.execute('SELECT * FROM info')
datalink.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kindom', 'Winter', 4.2, 207.7),
 ('London', 'United Kindom', 'Spring', 8.3, 169.6),
 ('London', 'United Kindom', 'Summer', 15.7, 157.0),
 ('London', 'United Kindom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [14]:
datalink.execute('SELECT Temperature FROM info')
datalink.fetchall() #execurte table in tuple from list

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [15]:
datalink.execute('SELECT DISTINCT(City) FROM info')
datalink.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [16]:
datalink.execute('SELECT * FROM info where Country = "India"')
datalink.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [ ]:
datalink.execute('SELECT * from info where Season="Fall"')
datalink.fetchall()

In [17]:
datalink.execute('SELECT City,Country,Season, AVG(Rainfall) FROM info GROUP BY City, Country, Season having AVG(Rainfall)>200 and AVG(Rainfall)<400 ')
datalink.fetchall()

[('London', 'United Kindom', 'Fall', 218.5),
 ('London', 'United Kindom', 'Winter', 207.7),
 ('Mumbai', 'India', 'Fall', 346.0)]

In [18]:
datalink.execute('SELECT City, Country, AVG(Temperature) FROM info where Temperature > 20 GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER By Temperature ASC')
datalink.fetchall()

[('Cairo', 'Egypt', 23.53333333333333),
 ('Mumbai', 'India', 27.174999999999997)]

In [19]:
datalink.execute('SELECT SUM(Rainfall) FROM info WHERE City = "Cairo"')
datalink.fetchall()

[(27.6,)]

In [20]:
datalink.execute('SELECT Season, SUM(Rainfall) FROM info GROUP BY Season')
datalink.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [12]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
upper_words = [lists.upper() for lists in words]
print (upper_words,'\n')
lower_words = [lists.lower() for lists in words]
print (lower_words,'\n')
len_function = [len(lists) for lists in words]
print(len_function,'\n')
lists_all = [[a, b , c] for a, b, c in zip(upper_words,lower_words,len_function)]
print (lists_all,'\n')
contain_four = []
[contain_four.append(lists) for lists in words if len(lists)>=4]
print (contain_four,'\n')

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

[3, 5, 5, 3, 5, 4, 3, 4, 3]

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

['quick', 'brown', 'jumps', 'over', 'lazy']